<div class="main-div">
  <h1 class="logo">MuscleBuddy</h1>
  <p>To take the quiz, create an account or login</p>
  <a href="/users/register" class="btn btn-primary"
    >Register</a>
  <a href="/users/login"> Login</a>
</div>