body {
    background-color: #17706E;
    color: #555;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #FB7813;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0 1rem;
}

.logo {
    margin-bottom: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.main-div {
    background-color: #F7F7EE;
    border-radius: 1rem;
    margin: 5rem auto 5rem;
    width: 40rem;
    /* height: 100%; */
    padding: 3rem 5rem;
}

.card, .button-container{
    margin: 1rem auto;
    width: 30rem;
}

.card-header {
    background-color: #B6EB7A;
}

.row {
    margin: 1rem auto;
}

.col-4 {
    padding: 0;
}

.error-msg {
    color: red;
    margin: 0;
}

.btn, a {
    font-family: 'Montserrat', sans-serif;
}
